<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本字典</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',width:250,title:'项目信息'">
            <ul class="easyui-tree" id="tree_project">
            </ul>
        </div>
        <div data-options="region:'center',border:false">
            <div class="easyui-tabs" data-options="fit:true,border:false">
                <div title="基本信息">
                    <table id="tb_ProBasicInfo" class="form-table">
                        <tr>
                            <td class="tdLabel">项目名称</td>
                            <td>
                                <input name="ProjectName" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                            <td class="tdLabel">项目经理</td>
                            <td>
                                <input name="UserName" class="easyui-textbox" data-options="readonly: true,width:200" />
                                <input id="txt_BasicInfo_GroupLeader" name="GroupLeader" hidden="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdLabel">客户</td>
                            <td>
                                <input name="HospName" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                            <td class="tdLabel">项目金额</td>
                            <td>
                                <input name="ProjectMoney" class="easyui-numberbox" data-options="readonly: true,width:250,groupSeparator:',',min:0,precision:2,prefix:'￥',"
                                />
                            </td>
                        </tr>

                        <tr>
                            <td class="tdLabel">项目分类</td>
                            <td>
                                <input name="LineName" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                            <td class="tdLabel">产品版本</td>
                            <td>
                                <input name="Version" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdLabel">项目期限(天)</td>
                            <td>
                                <input name="Cycle" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                            <td class="tdLabel">项目阶段</td>
                            <td>
                                <input name="StageName" class="easyui-textbox" data-options="readonly: true,width:250" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdLabel">创建时间</td>
                            <td>
                                <input id="txt_BasicInfo_CreateDate" name="ProCreateDate" class="easyui-datebox" data-options="readonly: true,width:250"
                                />
                            </td>
                            <td class="tdLabel">准备时间</td>
                            <td>
                                <input id="txt_BasicInfo_ReadyDate" name="ProReadyDate" class="easyui-datebox" data-options="readonly: true,width:250" />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdLabel">入场时间</td>
                            <td>
                                <input id="txt_BasicInfo_EnterDate" name="EnterDate" class="easyui-datebox" data-options="readonly: true,width:250" />
                            </td>
                            <td class="tdLabel">验收时间</td>
                            <td>
                                <input id="txt_BasicInfo_DocDate" name="DocDate" class="easyui-datebox" data-options="readonly: true,width:250" />
                            </td>
                        </tr>

                        <tr>
                            <td class="tdLabel">备注</td>
                            <td colspan="3">
                                <input name="Memo" class="easyui-textbox" data-options=" readonly: true,multiline: true,height: 40" style="width:90%;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div title="项目进度" style="padding:10px;">
                    <div class="process">
                        <div class="stage">
                            <div class="head"></div>
                            <div class="main">
                                <div class="title success">项目立项</div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                        <div class="stage">
                            <div class="head"></div>
                            <div class="main">
                                <div class="title ">项目规划</div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                        <div class="stage">
                            <div class="head"></div>
                            <div class="main">
                                <div class="title ">项目执行</div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                        <div class="stage">
                            <div class="head"></div>
                            <div class="main">
                                <div class="title ">项目验收</div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                        <div class="stage isLast">
                            <div class="head"></div>
                            <div class="main">
                                <div class="title ">项目撤场</div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div title="资源信息">
                    <div class="easyui-tabs" data-options="fit:true,border:false,tabPosition:'bottom'">
                        <div title="干系人">
                            <table id="tb_relation"></table>
                        </div>
                        <div title="服务器">
                            <table id="tb_server"></table>
                        </div>
                        <div title="客户机">
                            <table id="tb_computer"></table>
                        </div>
                        <div title="其他设备">
                            <table id="tb_other"></table>
                        </div>
                        <div title="集成信息">
                            <table id="tb_integrate"></table>
                        </div>
                    </div>
                </div>
                <div title="项目文档">
                    <table id="tb_doc"></table>
                </div>
                <div title="制约因素">
<table id="tb_factor"></table>
                </div>
            </div>
        </div>
    </div>


    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {

            var methods = {
                init: function () {

                },
                initTree: function () {
                    $('#tree_project').tree({
                        data: [{
                            id: 1, text: '进行中', children: [{ id: 1, text: '武汉协和医院XX项目' }
                                , { id: 1, text: '武汉中医医院XX项目' }
                                , { id: 1, text: '武汉中心医院XX项目' }]
                        }, {
                            id: 1, text: '暂停中', children: [{ id: 1, text: '武汉协和医院XX项目' }
                                , { id: 1, text: '武汉中医医院XX项目' }
                                , { id: 1, text: '武汉中心医院XX项目' }]
                        }, {
                            id: 1, text: '已完结', children: [{ id: 1, text: '武汉协和医院XX项目' }
                                , { id: 1, text: '武汉中医医院XX项目' }
                                , { id: 1, text: '武汉中心医院XX项目' }]
                        },]
                        , onClick: function (node) {
                            loadProject(node.id);
                        }
                    })
                },
                loadProject: function (projectId) {

                },
                initResource: function () {

                }

            }

            methods.initTree();

        })
    </script>
</body>

</html>