<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文档审核</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',height:50" style="padding:10px;">
            <span>关键字</span>
            <span>
                <input class="easyui-searchbox" data-options="width:200,prompt:'请输入项目名称'" />

            </span>
            <span>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
            </span>
        </div>
        <div data-options="region:'center'">
            <div class="easyui-tabs" data-options="fit:true,border:false,tabPosition:'bottom'">
                <div title="待审文档">
                    <table id="tb_approve">
                    </table>
                </div>
                <div title="已审文档"></div>
            </div>
        </div>
    </div>


    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {

            var docData = [{
                projectName: '武汉中心xx项目', docType: '入场报告',
                uploadDate: '2018-01-08', docDate: '2018-01-08', memo: '111'
            }];

            var methods = {
                init: function () {

                },
                initTable: function () {
                    $.dgInit({
                        id: "tb_approve",
                        data: [{ dictType: '测试', dictNo: '111', name: '第一个字典' }],
                        height: 100,
                        data: docData,
                        columns: [[
                            { field: 'id', hidden: true, width: 30 },
                            { field: 'projectName', title: '项目名称', width: 50 },
                            { field: 'docType', title: '文档类型', width: 50, sortable: true },
                            { field: 'uploadDate', title: '上传日期', width: 50, sortable: true },
                            { field: 'docDate', title: '验收日期', width: 50, sortable: true },
                            { field: 'memo', title: '备注信息', width: 100 },
                            {
                                field: 'action', title: '备注信息', width: 100,
                                formatter: function (value, row, index) {
                                    return "<a href='javascript:void(0)'>审批</a>"
                                }
                            }
                        ]]
                    });
                }
            }
            methods.initTable();
        })
    </script>
</body>

</html>