<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本字典</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',width:250,title:'项目分类'">
            <ul class="easyui-tree" id="tree_category">
            </ul>
        </div>
        <div data-options="region:'center'">
            <table id="tb_stage">
            </table>
        </div>
    </div>


    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {

var stageData=[{id:'xx1',text:'项目启动'},{id:'xx1',text:'项目规划'},{id:'xx1',text:'项目执行'},{id:'xx1',text:'项目验收'},{id:'xx1',text:'项目撤场'}]
            var methods = {
                init: function () {

                },
                initTree: function () {
                    $('#tree_category').tree({
                        data: [{ id: 1, text: '项目类别', children: [
                                { id: 2, text: 'XX产品' }, 
                                { id: 3, text: 'YY产品' }] }]
                    });
                },
                initTable: function () {
                    $.dgInit({
                        id: "tb_stage",
                        title:'阶段分类',
                        data: stageData,
                        height: 100,
                        columns: [[
                            // { field: 'id', hidden: true, width: 30 },
                            { field: 'id', title: '阶段编号', width: 50, sortable: true },
                            { field: 'text', title: '阶段名称', width: 50, sortable: true },
                            { field: 'sort', title: '排序', width: 50, sortable: true },
                            { field: 'memo', title: '备注信息', width: 100 }
                        ]],
                        toolbar: [
                            {
                                text: "新增",
                                iconCls: 'icon-add',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }, '-', {
                                text: "编辑",
                                iconCls: 'icon-edit',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }, '-', {
                                text: "删除",
                                iconCls: 'icon-remove',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }
                        ]
                    });
                }
            }

            methods.initTable();
            methods.initTree()
        })
    </script>
</body>

</html>