<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人员管理</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',height:70,title:'查询条件'" style="padding:5px;">
            <table class="query-table">
                <tr>
                    <td>关键字:</td>
                    <td>
                        <input class="easyui-searchbox" id="txtKey" />
                    </td>
                </tr>
            </table>
        </div>
        <div data-options="region:'center'">
            <table id="tb_users">
            </table>
        </div>
    </div>


    <!-- 字典信息增删该查 -->
    <div id="dlg_users" class="easyui-dialog" data-options="width:500,height:450,closed:true,title:'人员信息'">
        <form id="frm_users" method="POST">
            <input type="hidden" name="id">
            <table class="form-table">
                <tr>
                    <td class="tdLabel">账号</td>
                    <td>
                        <input class="easyui-textbox" name="account" data-options="width:300,required:true" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">密码</td>
                    <td>
                        <input class="easyui-textbox" name="password" data-options="width:300,required:true,prompt:'默认000'" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">姓名</td>
                    <td>
                        <input class="easyui-textbox" name="name" data-options="width:300,required:true,prompt:'XX'" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">身份证</td>
                    <td>
                        <input class="easyui-textbox" name="identity" data-options="width:300,required:true,prompt:'4xx109'" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">性别</td>
                    <td>
                        <input class="easyui-combobox" name="sex" data-options="width:300,valueField:'id',textField:'text',data:[{id:0,text:'女'},{id:1,text:'男'}]"
                        />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">联系方式</td>
                    <td>
                        <input class="easyui-textbox" name="telphone" data-options="width:300,required:true,prompt:'手机号'" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">状态</td>
                    <td>
                        <input class="easyui-combobox" name="isDel" data-options="width:300,valueField:'id',textField:'text',data:[{id:0,text:'正常'},{id:1,text:'作废'}]"
                        />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">备注</td>
                    <td>
                        <input class="easyui-textbox" name="memo" data-options="width:300,multiline:true,height:100" />
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            var dictUrl = ""
                , delTypeUrl = ""
                , selectNode;

            var methods = {
                init: function () {

                    $('#dlg_usersType').dialog({
                        width: 500, height: 300, closed: true, title: '字典类别',
                        buttons: [
                            {
                                text: '保存',
                                iconCls: 'icon-save',
                                handler: function () {
                                    methods.saveDictType();
                                }
                            }, {
                                text: '关闭',
                                iconCls: 'icon-cancel',
                                handler: function () {
                                    $('#dlg_usersType').dialog('close');
                                }
                            }
                        ]
                    });

                    $('#dlg_users').dialog({
                        buttons: [
                            {
                                text: '保存',
                                iconCls: 'icon-save',
                                handler: function () {
                                    methods.saveDict();
                                }
                            }, {
                                text: '关闭',
                                iconCls: 'icon-cancel',
                                handler: function () {
                                    $('#dlg_users').dialog('close');
                                }
                            }
                        ]
                    });
                },
                initTree: function () {
                    $('#tree_dict').tree({
                        data: [{
                            id: 1, text: '字典信息', children: [{
                                id: 2, text: '公共字典'
                            }]
                        }],
                        onClick: function (node) {
                            selectNode = node;
                            //通过类型来获取字典数据
                            $('#tb_users').datagrid('reload', dictUrl + "?dictType=" + encodeURI(node.text));
                        },
                        onContextMenu: function (e, node) {
                            e.preventDefault();
                            // select the node
                            $('#tree_dict').tree('select', node.target);
                            // display context menu
                            $('#mm_dict').menu('show', {
                                left: e.pageX,
                                top: e.pageY,
                                onClick: function (item) {
                                    if (item.text == "编辑") {
                                        $('#frm_usersType').form('load', node.attributes);
                                        $('#dlg_usersType').dialog('open')
                                    } else {
                                        $.messager.confirm('确定?', "确定要删除<span style='color:red;'>" + node.text + "</span>", function (r) {
                                            if (!r) {
                                                return;
                                            }
                                            $.post(delTypeUrl, { id: node.id }, function (data) {
                                                $.procAjax(data)
                                            })
                                        })
                                    }
                                }
                            });
                        }
                    });
                },
                initTable: function () {
                    $.dgInit({
                        id: "tb_users",
                        data: [{ dictType: '测试', dictNo: '111', name: '第一个字典' }],
                        // url:''
                        columns: [[
                            { field: 'id', hidden: true, width: 30 },
                            { field: 'account', title: '账号', width: 50 },
                            { field: 'name', title: '姓名', width: 50, sortable: true },
                            { field: 'identify', title: '身份证', width: 120, align: 'left', },
                            { field: 'sex', title: '性别', width: 50, sortable: true },
                            { field: 'telphone', title: '联系方式', width: 50, sortable: true },
                            {
                                field: 'isDel', title: '是否启用', width: 50,
                            },
                            { field: 'memo', title: '备注信息', width: 100 }
                        ]],
                        toolbar: [
                            {
                                text: "新增",
                                iconCls: 'icon-add',
                                handler: function () {
                                    $('#frm_users').form('clear');
                                    $('#dlg_users').dialog('open')
                                }
                            }, '-', {
                                text: "编辑",
                                iconCls: 'icon-edit',
                                handler: function () {

                                    $.rowSelectCheck('tb_users', "请先要编辑的人员", function (row) {
                                        $('#frm_users').form('load', row);
                                        $('#dlg_users').dialog('open')
                                    })
                                }
                            }, '-', {
                                text: "删除",
                                iconCls: 'icon-remove',
                                handler: function () {
                                    $.rowSelectCheck('tb_users', "请先要删除的字典", function (row) {
                                        $('#frm_users').form('load', row);
                                        $('#dlg_users').dialog('open')
                                    })
                                }
                            }
                        ]
                    });
                },


                save: function () {
                    $.formSave({
                        id: 'frm_users',
                        success: function (data) {
                            $('#dlg_users').dialog('close')
                            $.procAjax(data);
                        }
                    });
                }
            }

            methods.init();
            methods.initTable();
            methods.initTree()
        })
    </script>
</body>

</html>