<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本字典</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'center'">
            <table id="tb_menu">
            </table>
        </div>
    </div>


    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            var data=[{"SerialNo":"59082562-cf31-40fc-827a-eb720f726582","PNo":"ZSWD0001","PName":"知识问答","AreaName":"Known","ControllerName":"/","ActionName":"/","ParentPNo":"ZSWD","PLevel":1,"IsEnabled":0,"ActionSort":10,"PIcon":"","PFormHttp":"0","IsMenu":"0","Memo":"","CreateUser":10685,"CreateTime":"\/Date(1489634760000)\/","LastUser":null,"LastTime":null,"ReqURL":null},{"SerialNo":"4d2fe5ce-5e48-4506-b900-8333b08b2579","PNo":"ZSWD","PName":"知识问答","AreaName":"Known","ControllerName":"","ActionName":"","ParentPNo":"","PLevel":0,"IsEnabled":0,"ActionSort":130,"PIcon":"","PFormHttp":"0","IsMenu":"0","Memo":"","CreateUser":10685,"CreateTime":"\/Date(1489634640000)\/","LastUser":null,"LastTime":null,"ReqURL":null}];
            var methods = {
                init: function () {

                },

                initTable: function () {
                    $.dgInit({
                        id: "tb_menu",
                        data: data,
                        height: 100,
                        columns: [[
                            { field: 'SerialNo', hidden: true, width: 50 },
                            { field: 'PNo', title: '权限编号', width: 50 },
                            { field: 'PName', title: '权限名称', width: 100 },
                            {
                                field: 'PFormHttp', title: '请求类型', width: 50,
                                formatter: function (value, row, index) {
                                    if (value == 0) {
                                        return 'Get';
                                    } else {
                                        return 'Post'
                                    }
                                }
                            },
                            { field: 'AreaName', title: '区域名称', width: 50 },
                            { field: 'ControllerName', title: '控制器名称', width: 50 },
                            { field: 'ActionName', title: '方法名称', width: 50 },
                            { field: 'ParentPNo', title: '父权限', width: 50 },
                            { field: 'PLevel', title: '权限级别', width: 50 },
                            {
                                field: 'IsEnabled', title: '是否启用', width: 50,
                                formatter: function (value, row, index) {
                                    if (value == 0) {
                                        return '<span>启用<span><img style="margin-left:5px;" src="/js/EasyUI/themes/icons/ok.png" />';
                                    } else {
                                        return '<span>禁用<span><img style="margin-left:5px;" src="/js/EasyUI/themes/icons/no.png" />'
                                    }
                                }
                            },
                            { field: 'ActionSort', title: '序号', width: 50 },
                            { field: 'PIcon', title: '权限图标', width: 50 },
                            {
                                field: 'IsMenu', title: '是否菜单', width: 50,
                                formatter: function (value, row, index) {
                                    if (value == 0) {
                                        return '菜单页面';
                                    } else {
                                        return 'Ajax请求'
                                    }
                                }
                            },
                            { field: 'Memo', title: '备注', width: 100 }

                        ]],
                        toolbar: [
                            {
                                text: "新增",
                                iconCls: 'icon-add',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }, '-', {
                                text: "编辑",
                                iconCls: 'icon-edit',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }, '-', {
                                text: "删除",
                                iconCls: 'icon-remove',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }
                        ]
                    });
                }
            }

            methods.initTable();
        })
    </script>
</body>

</html>