<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本字典</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',width:300,title:'角色'">
            <ul class="easyui-tree" id="tree_role">
            </ul>
        </div>
        <div data-options="region:'center',title:'所有权限',tools:[{iconCls:'icon-save',handler:function(){}}]">
            <ul class="easyui-tree" id="tree_permission">
            </ul>
        </div>
        <div data-options="region:'east',width:450,title:'已有权限'">
            <ul class="easyui-tree" id="tree_rPermission">
            </ul>
        </div>
    </div>


    <!-- 字典类别的右键菜单 -->
    <div id="mm_rPer" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-remove'">删除</div>
    </div>

    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {
            var pData = [{
                "id": "QYZD0001",
                "text": "Admin",
                "open": true,
                "checked": false,
                "iconOpen": null,
                "iconClose": null,
                "isExist": false,
                "children": [{
                    "id": "TYGL",
                    "text": "通用管理",
                    "open": false,
                    "checked": false,
                    "iconOpen": null,
                    "iconClose": null,
                    "isExist": false,
                    "children": [{
                        "id": "TYGL0013",
                        "text": "文档管理<span style='color:blue'>[菜单]</span>",
                        "open": false,
                        "checked": false,
                        "iconOpen": null,
                        "iconClose": null,
                        "isExist": false,
                        "children": null,
                        "font": null,
                        "icon": null,
                        "param": null,
                        "isParent": false,
                        "nocheck": false,
                        "chkDisabled": false
                    }],
                    "font": null,
                    "icon": null,
                    "param": null,
                    "isParent": false,
                    "nocheck": false,
                    "chkDisabled": false
                }],
                "font": null,
                "icon": null,
                "param": null,
                "isParent": false,
                "nocheck": false,
                "chkDisabled": false
            }]
                , selectNode;
            var methods = {
                init: function () {

                },
                initTree: function () {
                    $('#tree_role').tree({
                        data: [{
                            id: 1, text: '所有角色', children: [
                                { id: 1, text: '管理员' }, { id: 1, text: '项目总监' },
                                { id: 1, text: '项目经理' }
                            ]
                        }],
                        onClick: function (node) {
                            selectNode = node;
                            $('#tree_rPermission').tree('reload',"/?roleId="+encodeURI(node.id))
                        }
                    });

                    $('#tree_permission').tree({
                        data: pData,
                        checkbox: true
                    });


                    $('#tree_rPermission').tree({
                        onContextMenu: function (e, node) {
                            e.preventDefault();
                            // select the node
                            $('#tree_rPermission').tree('select', node.target);
                            // display context menu
                            $('#mm_rPer').menu('show', {
                                left: e.pageX,
                                top: e.pageY,
                                onClick: function (item) {
                                    $.messager.confirm('确定?', "确定要删除<span style='color:red;'>" + node.text + "</span>", function (r) {
                                        if (!r) {
                                            return;
                                        }

                                        $.post("", { "perId": node.id ,"roleNo":selectNode.id}, function (data) {
                                            $.procAjax(data)
                                        })
                                    })
                                }
                            });
                        }
                    });

                },

            }

            methods.initTree()
        })
    </script>
</body>

</html>