<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基本字典</title>
    <link rel="stylesheet" href="../../lib/easyui/themes/icon.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/color.css">
    <link rel="stylesheet" href="../../lib/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="../../public/css/easyui-extend.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>

<body>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',width:200,title:'角色'">
            <ul class="easyui-tree" id="tree_role">
            </ul>
        </div>
        <div data-options="region:'center'">
            <div class="easyui-tabs" data-options="fit:true,border:false,tabPosition:'bottom'">
                <div title="角色VS用户">
                    <table id="tb_userrole">
                    </table>
                </div>
                <div title="所有用户">
                    <table id="tb_users">
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script src="../../lib/easyui/jquery.min.js"></script>
    <script src="../../lib/easyui/jquery.easyui.min.js"></script>
    <script src="../../public/js/main.js"></script>
    <script type="text/javascript">
        $(function () {

            var users = [{
                id: '1', depart: 'XXX事业部', gonghao: 'A001',
                name: '张三', email: '11@sina.com', sex: '男', name: '北京天安门', telphone: '18622221111',
                isDel: '否', memo: '测试数据'
            }, {
                id: '1', depart: 'XXX事业部', gonghao: 'A001',
                name: '李四', email: '11@sina.com', sex: '男', name: '北京天安门', telphone: '18622221111',
                isDel: '否', memo: '测试数据'
            }, {
                id: '1', depart: 'XXX事业部', gonghao: 'A001',
                name: '王五', email: '11@sina.com', sex: '男', name: '北京天安门', telphone: '18622221111',
                isDel: '否', memo: '测试数据'
            }]
            var methods = {
                init: function () {

                },
                initTree: function () {
                    $('#tree_role').tree({
                        data: [{ id: 1, text: '管理员' }, { id: 1, text: '项目总监' },
                        { id: 1, text: '项目经理' }]
                    });
                },
                initUsers: function () {
                    $.dgInit({
                        id: "tb_users",
                        data: users,
                        columns: [[
                            { field: 'ck', width: 50, checkbox: true },

                            { field: 'id', hidden: true, width: 30 },
                            { field: 'gonghao', title: '账号', width: 50 },
                            { field: 'name', title: '姓名', width: 50 },
                            { field: 'depart', title: '部门', width: 50 },
                        ]],
                        toolbar: [
                            {
                                text: "设定",
                                iconCls: 'icon-save',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }
                        ]
                    });
                },
                initUAndRole: function () {
                    $.dgInit({
                        id: "tb_userrole",
                        data: users,
                        checkbox: true,
                        columns: [[
                            { field: 'ck', width: 50, checkbox: true },

                            { field: 'id', hidden: true, width: 30 },
                            { field: 'gonghao', title: '账号', width: 50 },
                            { field: 'name', title: '姓名', width: 50 },
                            { field: 'depart', title: '部门', width: 50 },
                        ]],
                        toolbar: [
                            {
                                text: "删除",
                                iconCls: 'icon-add',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }, '-', {
                                text: "刷新",
                                iconCls: 'icon-reload',
                                hander: function () {
                                    $.dgAdd();
                                }
                            }
                        ]
                    });
                }
            }

            methods.initUsers();
            methods.initUAndRole();
            methods.initTree()
        })
    </script>
</body>

</html>